name: CI 

on:
  push:
  pull_request:
  workflow_dispatch:

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6

      - uses: prefix-dev/setup-pixi@82d477f15f3a381dbcc8adc1206ce643fe110fb7 # v0.9.3

      - name: Format 
        run: pixi run format --check
      - name: Lint
        run: pixi run lint
      - name: Test
        run: pixi run test
      - name: Build
        run: pixi build
      
